.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: black;
    transform: translateY(-100%);
    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    filter: blur(0px);
  }
  
  .nav--open {
    transform: translateY(0);
    filter: blur(0px);
  }
  
  .nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .nav ul li {
    margin: 20px 0;
    opacity: 0;
    transform: translateY(20px);
    animation: reveal 0.5s ease forwards;
  }
  
  .nav ul li:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .nav ul li:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .nav ul li:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .nav ul li:nth-child(4) {
    animation-delay: 0.8s;
  }
  
  .nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .nav ul li a:hover {
    color: #ffeb3b;
    border-bottom: 2px solid #adadad84;
  }

  
  .menu-toggle {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 101;
    
  }
  
  .menu-icon1 {
    width: 30px;
    height: 3px;
    background-color: black;
    display: block;
    position: relative;
  }
  
  .menu-icon1::before,
  .menu-icon1::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: black;
    position: absolute;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-icon1::before {
    transform: translateY(-10px);
  }
  
  .menu-icon1::after {
    transform: translateY(10px);
  }
  
  .menu-icon1.open {
    background-color: transparent;
  }
  
  .menu-icon1.open::before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menu-icon1.open::after {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 101;
    transition: transform 0.3s ease;
  }
  
  .close-btn:hover {
    transform: rotate(90deg);
  }
  
  @keyframes reveal {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  