@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
*{border-radius: 5px; margin: 0; border-radius: 1%; font-family: "Hind Siliguri", sans-serif;border-radius: 2px;}
*{
    margin: 0;
}
